# Python
__pycache__/

# Gedit backup copies
*~

# input and output folder
output/
input/

# virtualenv
env-main/

# thesis
thesis/thesis.aux
thesis/thesis.bbl
thesis/thesis.bcf
thesis/thesis.blg
thesis/thesis.fdb_latexmk
thesis/thesis.fls
thesis/thesis.log
thesis/thesis.out
thesis/thesis.run.xml
thesis/thesis.synctex.gz
thesis/thesis.toc
thesis/thesis.lof
thesis/thesis.lot
thesis/thesis.pdf

# test
btda/test.py
