# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Gedit backup copies
*~

# input and output folder
output/
input/

# virtualenv
env-*

# tests
test/

# thesis
thesis/*.aux
thesis/*.bbl
thesis/*.bcf
thesis/*.blg
thesis/*.fdb_latexmk
thesis/*.fls
thesis/*.log
thesis/*.out
thesis/*.run.xml
thesis/*.synctex.gz
thesis/*.toc
thesis/*.lof
thesis/*.lot
thesis/*.pdf

# doxygen
html/
latex/

# R
.Rhistory
