thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.run.xml
thesis.synctex.gz
thesis.toc
thesis.ttt
thesis.fff
*~
bibliography/
